{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse", "HEAD"}},
	{bson, ".*", {git, "https://github.com/comtihon/bson-erlang", {tag, "v0.2.4"}}},
	{mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang", "HEAD"}},
	{kdht, ".*", {git, "https://github.com/kevinlynx/kdht", "HEAD"}},
    {giza, ".*", {git, "https://github.com/kevinlynx/giza.git", "HEAD"}}
]}.

